[Unit]
Description=Timer patrulha Ronaldo — a cada 15 min

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
Persistent=true

[Install]
WantedBy=timers.target
